
@model Mvc.WebUI.ViewModel.UserViewModel

@{
    ViewData["Title"] = "Şifremi Unuttum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@await Component.InvokeAsync("PageTitle", Model.PageTitleOptions)

<div class="panel-group">
    @using (Html.BeginForm("ForgotPassword", "Auth", FormMethod.Post))
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    Eğer şifrenizi unuttuysanız, bu formu doldurup şifrenizi sıfırlayabilirsiniz.<br />
                    Size gönderilecek maildeki linke tıkladığınızda yeni şifre oluşturulacak ve sistemde kayıtlı olan mail adresinize gönderilecektir.<br />
                    Lütfen 1 defa formu gonderin ve SPAM kutusuna bakmayi unutmayin mail gelmediyse! (5 DK icinde gelecektir!)
                </p>
                @*<div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="entypo-mail"></i>
                                </div>
                                @Html.TextBoxFor(m => m.IdentityNumber, new { @class = "form-control", placeholder = "Kullanıcı adi" })
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>*@

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @*<label class="control-label col-md-2"></label>*@
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.IdentityNumber, new { @class = "form-control", placeholder = "Kullanıcı adi" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @*<label class="control-label col-md-2">Email</label>*@
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-4">
                                <input type="submit" value="Şifreyi Sıfırla" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
